body {  
  display:table-cell;
  text-align:center;
  width:95%;
  max-width: 1600px
}

h1 {
  font-size: 3em;
}

h3, a {
  display: block;
  margin: 0px;
}

img {
  width: 480px;
  height: 250px;
}

.box {
  display: inline-block;
  margin-right: 20px
}